* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* Font Raleway  */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

/* Shared Styles.... */

.logo {
  color: rgb(78, 71, 255);
  font-size: 34px;
  font-weight: 900;
}

.btn {
  border-radius: 10px;
  background: rgb(78, 71, 255);
  padding: 12px 36px 12px 36px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: none;
  cursor: pointer;
}


body{
    background: rgb(245, 248, 255);
}

/* Navbar starts here  */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 40px auto;
}

/* Navbar Ends here  */

/* Banner Section  */

#banner {
  background-image: url(../Assets/Hero-bg.png);
}

#banner-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 200px auto;
}

.banner-title {
  color: rgb(37, 36, 50);
  font-size: 65px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: center;
  margin: 100px 0;
}

.banner-button {
  margin-bottom: 120px;
}

/* Action Section */

#action {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}

#action-texts {
  width: 50%;
}

#action-texts > h1 {
  color: rgb(37, 36, 50);
  
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  margin-bottom: 24px;

  text-align: left;
}

#action-texts > p {
  color: rgba(37, 36, 50, 0.5);
 
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 24px;
  text-align: left;
}

/* Section Statistics  */

#stats {
  width: 70%;
  border-radius: 24px;

  background: rgba(78, 71, 255, 0.1);
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}



.stats-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 80px;
}

.stats-info h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: rgb(78, 71, 255);
}

.stats-info p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

#form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 50px auto;
}

.form-section-title {
  font-family: "Raleway", sans-serif;
  font-size: 97px;
  font-weight: 700;
}

.forms-field {
  display: flex;
  flex-direction: column;
}

.forms-field input,
.forms-field textarea {
  width: 497px;
  height: 70px;
  margin-bottom: 30px;
  margin-top: 7px;
  padding: 20px 32px 20px 32px;
  box-sizing: border-box;
  border: 1px solid rgb(214, 221, 237);
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

.forms-field textarea {
    height: auto;
}
